.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e4e2dd;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  font-style: bold;
  padding-left: 10px;
  gap: 10px;
}

/* Hide navbar completely in full-screen mode */
body.no-navbar .navbar-wrapper {
  display: none; /* This will hide the navbar and remove its space */
}

/* Optionally hide the scrollbar when modal is open */
body.no-navbar {
  overflow: hidden;
}

.navbar-wrapper img {
  transition: height 0.3s ease, border 0.3s ease;
  overflow: hidden;
}

.img-wrapper-link-- {
  /* background-color: green; */
  display: inline-block;
}

.logo {
  /* height: 100px; */
  max-height: 100px;
  min-height: 90px;
  min-width: 90px;
  width: 100%;
  margin-right: 20%;
  height: auto;
  object-fit: contain;
  flex-shrink: 1;
}

.cart-count {
  background-color: rgb(188, 41, 41);
  color: white;
  border-radius: 60%;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.listPARENT {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* justify-content: space-evenly; */
  justify-content: flex-end;
  width: 100%;
}

.listPARENT li {
  margin: 0 15px;
  font-weight: 300;
  color: rgb(120, 8, 8);
}

.listPARENT a {
  text-decoration: none;
  color: rgb(163, 9, 9);
  /* color: rgb(55, 21, 156); */
}

body {
  margin-top: 100px;
}
