.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;

  padding-left: 10px;
  gap: 10px;
}

body.no-navbar .navbar-wrapper {
  display: none;
}

body.no-navbar {
  overflow: hidden;
}

.navbar-wrapper img {
  transition: height 0.3s ease, border 0.3s ease;
  overflow: hidden;
}

.img-wrapper-link-- {
  display: inline-block;
}

.logo {
  /* height: 100px; */
  max-height: 100px;
  min-height: 90px;
  min-width: 90px;
  width: 100%;
  margin-right: 20%;
  height: auto;
  object-fit: contain;
  flex-shrink: 1;
}

.cart-count {
  background-color: #801038;
  color: white;
  border-radius: 60%;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.listPARENT {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
}

.listPARENT li {
  margin: 0 15px;
  font-weight: 300;
  color: #1e1c1c;
}

.listPARENT a {
  text-decoration: none;
  color: #1e1c1c;
}

body {
  margin-top: 100px;
}
