.App {
  text-align: center;
  display: flex;
  /* min-height: 100vh; */
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 12, 53);
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 250px;
  z-index: 1000;
}

.Content {
  margin-left: 200px; /* Space for the navbar */
  padding: 20px;
  width: 100%;
}
