.about-textContainer1 {
  font-weight: 100;
  padding-top: 80px;
  color: rgb(16, 52, 123);
  font-size: 70px;
  letter-spacing: 0.15em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-textContainer1 h1 {
  align-self: flex-start;
  text-align: left;
  margin: 0;
}

.about-textContainer1 p {
  align-self: flex-end;
  text-align: right;
  margin: 0;
  width: 100%;
}
