.collections-container {
  padding: 10%;
  text-align: left;
}

.collections-header {
  font-size: 3rem;
  margin-bottom: 20px;
}

.collections-description {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.collections-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.collection-card {
  cursor: pointer;
  text-align: center;
  max-width: 200px;
}

.collection-image {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.inspired-by {
  font-style: italic;
}

.work-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
