.collection-detail {
  padding: 5%;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.collection-image {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.collection-info {
  width: 35%;
  text-align: left;
}

.collection-name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.collection-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.works-section {
  margin-top: 50px;
}

.works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.works-title {
  font-size: 2rem;
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  gap: 10px;
}

.arrow-button {
  background: none;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.arrow-button:hover {
  background-color: #eee;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0;
  border: 1px solid #ddd;
}

.work-item {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.work-info {
  margin-bottom: 10px;
  font-size: 0.85rem;
  line-height: 1.2;
}

.work-title {
  font-weight: bold;
  font-size: 1rem;
  color: #bc1515;
}

.work-year {
  color: #777;
  font-size: 0.9rem;
}

.work-description {
  color: #555;
  font-size: 0.8rem;
}

.work-image {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
}
