.order-list {
  padding: 20px;
  width: 600px;
  justify-content: center;
  /* box-shadow: 5px 5px 71px 7px #FFA565; */
}

.order-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.order-list h1 {
  /* font-style: thin; */
  font-weight: 100;
  color: rgb(16, 52, 123);
}

.order-item-content {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.order-image {
  justify-content: center;
  max-width: 400px;
  height: auto;
}

.order-info {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 0 10px;
  align-content: right;
}

p {
  margin: 5px 0;
}

button {
  margin-top: auto; /* Align the button at the bottom */
  padding: 10px 15px;
  background-color: #f1ebe8;
  color: rgb(219, 76, 10);
  border: none;
  cursor: pointer;
  width: 40xp;
}

button:hover {
  background-color: #07316f;
  color: white;
}
