.order-list-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.order-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
}

.order-item {
  text-align: center;
  position: relative;
}

.item-box {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.item-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item-circle {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-number {
  color: black;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-number {
  margin-left: 10px;
}

.remove-button {
  background-color: rgb(92, 7, 7);
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.order-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.order-summary {
  width: 35%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.order-summary h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.item-circle-detail {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(222, 27, 27);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.item-name {
  flex-grow: 1; /*  name to take available space */
  font-family: Yuji Boku;
}

.item-details {
  margin-left: 10px; /*  space between item name and details */
}

.item-price {
  font-weight: bold;
  font-size: 1.1rem;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

hr.separator {
  border: none;
  height: 1px;
  width: 1px;
  background-color: black;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .order-list-container {
    flex-direction: column;
    align-items: center;
  }

  .order-items {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .order-summary {
    width: 100%;
    margin-top: 20px;
  }
}
