.order-list-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-side {
  width: 50%;
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dad7d7;
}

.last-viewed-item {
  text-align: center;
  max-width: 80%;
}

.last-viewed-image {
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
}

.last-viewed-info {
  margin-top: 20px;
  font-size: 0.9em;
  color: #333;
}

.right-side {
  width: 50%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
}

h1 {
  margin-bottom: 20px;
  color: #111;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  width: 100%;
  max-width: 600px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  padding: 30px;
}

.cart-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-button {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #555;
  cursor: pointer;
}

.pagination-button:hover {
  color: #000;
}
