.works-container {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 10px;
  width: 100%;
}

.collections-container {
  grid-column: span 12; /* Займає всю ширину сітки */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки для колекцій */
  gap: 20px; /* Відстань між колекціями */
}

.pics-container,
.pics-container2,
.pics-container3 {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 1200px;
  box-sizing: border-box;
}

/* .text-container {
  grid-column: span 12;
  align-items: center;
  justify-content: center;
  padding: 20px;
} */

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
