.work-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
}

.work-detail-content {
  display: flex;
  max-width: 90%;
  height: 90vh; /* 90% of the viewport height */
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.work-image {
  max-height: 90%; /* Full height of container */
  width: auto;
  cursor: pointer;
}

.work-info {
  padding-left: 40px;
  max-height: 100%;
  overflow-y: auto; /* Allows scrolling if content overflows */
  flex-shrink: 0; /* Prevents the box from shrinking */
  box-sizing: border-box;
  width: 350px; /* Set a fixed width for the info box */
}

h1 {
  margin-bottom: 20px;
  font-weight: 100;
  color: rgb(16, 52, 123);
}

p {
  margin: 10px 0;
  font-weight: 100;
  color: rgb(16, 52, 123);
}

/* Modal for Full-Screen Image */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto; /* Vertical scrolling only */
}

/* Back Arrow styling */
.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: red;
  cursor: pointer;
  z-index: 99999;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal-image {
  padding-top: 50px;
  max-width: 90%;
  height: auto;
  max-height: unset;
  /* Prevent restricting height */
}
